a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
span,
label,
div {
	padding: 0;
	margin: 0;
	font-family: '瀵邦喛钂嬮梿鍛寸拨';
}

div {
	font-family: '瀵邦喛钂嬮梿鍛寸拨';
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none !important;
}

.clear {
	clear: both;
}

html,
body,
form {
	overflow-y: auto;
	height: 100%;
}





.visual_con {
	width: 32%;
	height: 220px;
}

/*padding:25px 20px 0 20px; */
.visual_con .visual_conTop {
	height: 130px;
}

.visual_con .visual_conTop .visual_conTop1 {
	height: 100%;
	width: 33.33333333333%;
	float: left;
	text-align: center;

	background-color: #09639C;
	border-width: 2px;
	border-color: beige;

	margin-top: 5%;
}

/* padding:0 3px;  */
.visual_con .visual_conTop .visual_conTop1>div {
	height: 90%;
	border-radius: 20px;
	/* border-color: blue; */
	margin-left: 2px;
}

/* background:url(../images/ksh40.png) no-repeat;background-size:100% 100%; */
.visual_con .visual_conTop .visual_conTop1>div h1 {
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-top: 2%;
	/* padding-top: 2%; */
	/* padding-left: 2px; */
}

.visual_con .visual_conTop .visual_conTop1>div p {
	width: 33%;
	/* line-height: 85px; */
	
	display: inline;
	color: #20dbfd;
	font-family: 'yjsz';
	font-size: 46px;
	text-align: center;
	padding-top: 2%;
}


.visual_con .visual_conTop .visual_conTop2 {
	width: 100%;
	height: 95%;
	padding-top: -3%;
	background-color: #09639C;
}

.visual_con .visual_conTop .visual_conTop2>div {
	height: 100%;
}

/* background:url(../images/ksh39.png) no-repeat;background-size:100% 100%; */
.visual_con .visual_conTop .visual_conTop2>div h1 {
	color: #fff;
	font-size: 24px;
	text-align: center;
	padding-top: 2%;
}

.visual_con .visual_conTop .visual_conTop2>div p {
	width: 100%;
	/* line-height: 85px; */
	display: inline-block;
	font-size: 9px;
	color: #20dbfd;
	font-family: 'yjsz';
	text-align: center;
	padding-top: 5%;
	/* padding-left: 1%; */
}